@use '../../scss/' as *;

.loader_wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: rgba($color-grey-500, 0.5);
    backdrop-filter: blur(10px);
    display: grid;
    align-items: center;
    justify-items: center;
    top: 0;
    left: 0;
}