@use '../../scss' as *;

.favorite_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 16px;
    row-gap: 86px;
    @media (max-width: 600px) {
        row-gap: 46px;
    }
}

.vacancy_title {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    font-weight: 600;
    font-size: $header-regular;
    color: $color-blue-500-main;
}

.pagination_control {
    color: $color-black;
}