$bg-color-grey: #F7F7F8;

$color-white: #FFFFFF;
$color-grey-100: #F5F5F6;
$color-grey-200: #EAEBED;
$color-grey-300: #D5D6DC;
$color-grey-500: #ACADB9;
$color-grey-600: #7B7C88;
$color-black: #232134;
$color-header-empty: #343A40;

$color-blue-600: #3B7CD3;
$color-blue-500-main: #5E96FC;
$color-blue-400: #92C1FF;
$color-blue-300: #B7D6FF;
$color-blue-200: #C9E0FF;
$color-blue-100: #DEECFF;


$header-big:28px;
$size-logo: 24px;
$header-regular: 20px;
$text-regular: 16px;
$text-small: 14px;
